/* base css  */
* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
div {
  display: block;
}
ul {
  list-style: none;
}
img {
  width: 100%;
  max-width: 100%;
}
a {
  text-decoration: none;
}
.container {
  width: 1240px;
  margin: 0 auto;
}
.section_title {
  font-size: 36px;
  font-weight: 700px;
  text-transform: uppercase;
  text-align: center;
  color: #7e1117;
}
img {
  object-fit: cover;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* end base css     */
/* Start Logo css */
.logo {
  padding: 10px 0;
}
.logo img {
  width: 118px;
  height: 80px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
/* End logo css */
.text-center {
  text-align: center;
}
/* Start navbar */
header nav {
  background: #7e1117;
  position: relative;
  min-height: 56px;
}
.navbar .nav-list li {
  list-style: none;
  display: inline;
  margin: 0 auto;
  position: relative;
  padding: 0 5px;
}
.navbar .nav-list li a {
  font-weight: 700;
  font-size: 17px;
  padding: 10px 8px;
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
}
header .header-cart img,
.header-search img {
  padding: 0 8px;
  width: 42px;
  height: 38px;
  margin: 0 auto;
  vertical-align: middle;
}
/* end navbar */
/* start dropdown-bar */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #7e1117;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.dropdown h3:hover {
  background-color: black;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown h3 {
  padding: 0 5px 0 5px;
  width: 180px;
  display: block;
  text-align: left;
  transition: all 0.1s;
}
/* end dropdown-bar */

/* Event section  */
#box-event {
  background-color: #f1f1f1;
  padding: 45px 0;
}
.event-box-content {
  width: 100%;
}
.event-item {
  width: 60%;
  padding: 0 15px 0 15px;
  position: relative;
}
.event-item a img {
  opacity: 1;
  filter: brightness(70%);
  transition: all 0.2s;
}
.event-item a span {
  width: 290px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
.event-item:hover img {
  filter: brightness(100%);
}
/* end event section */
/* start box-new-Nitems */
#box-items {
  padding: 45px 0;
}
#box-new-items h2 {
  margin: 20px 0;
}
.product-item img {
  height: 262.5px;
  width: 262.5px;
}
.item-box-content1,
.item-box-content2 {
  width: 100%;
}
.product-item {
  width: 60%;
  margin: 0 0 20px;
  position: relative;
  padding: 0 15px 15px 15px;
}
.product-item a span {
  text-align: center;
  display: block;
  font-size: 18px;
  font-weight: 600;
}

.product-item a {
  padding: 0 0 20px;
  text-align: center;
  display: block;
  text-decoration: none;
  color: black;
}
.view-more a {
  background: #7e1117;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px;
  padding: 7px 20px 7px 20px;
  font-weight: 15px;
}
